<%-include ('../../partials/header')%>
<body>
    <script src="https://cdn.tiny.cloud/1/dwuf55fuyzdhkm9u2i5o4929j8beanckm54571bnvql1sf1p/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            language: 'pt_BR',
            selector: '#mytextarea',
            plugins: [
                'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
            ]
        });
    </script>
    <%-include ('../../partials/navbar')%>

    <div class="container">


        <div class="card mt-5">
            <div class="card-header">
                <h2>Novo artigo</h2>
            </div>
            <div class="card-body">
                <form action="/categories/save" method="POST">
                    <input class="form-control mb-3" type="text" name="title" placeholder="defina o titulo do artigo">
                    <textarea class="form-control mt-3" id="mytextarea" name="body" placeholder="Escreva o artigo aqui" id="" cols="30" rows="10"></textarea>
                    <button class="btn btn-success mt-3" type="submit">Cadastrar</button>
                </form>
            </div>
        </div>

        
        
    </div>

</body>
<%-include ('../../partials/footer')%>