<nav class="navbar navbar-dark navbar-expand-lg bg-primary"> 
    
    <a class="navbar-brand" href="/">Blog do vinicios</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
    </ul>

</nav>