<%-include ('../../partials/header')%>

<body>
    
    <div class="container mt-5">
        <%if(erro){%>
            <div class="alert alert-danger" role="alert">
                <P><%=erro%></P>
            </div>
        <%}%>
        <div class="card">
            <div class="card-header">
                <h2>Login</h2>
            </div>
            <div class="card-body">
                <form action="/authenticate" method="post">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" name="email" placeholder="email@example.com.br">
                    <label for="password">Senha</label>
                    <input class="form-control" type="password" placeholder="password" name="password">
                    <button type="submit" class="btn btn-success btn-block mt-3">Logar</button>
                </form>
            </div>
        </div>


        
    </div>



</body>


<%-include ('../../partials/footer')%>